<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <title>Dream Vacation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    </head>

<body>

    <div class = "container">

        <header class ="holder headline">Vacation Dreams</header>

        <section class="holder input">
            <div class ="holder">
                <label for="city" class = labels>Destination City</label>
                <input type="text" id = "city" placeholder="Enter City Name">
                <label for="startdate" class = labels>Start Date</label>
                <input type="date" id = "startDate">
                <label for="enddate" class = labels >End Date</label>
                <input type="date" id = "endDate">
                <button id="generate" type = "submit"> Submit Vacation </button>
            </div>
        </section>

        <section class ="holder details">
            <div class = "title">Vacation Details</div>
            <div id = "detailHolder">
                <div id = "location"></div>
                <div id = "dates"></div>
                <div id = "daysuntil"></div>
                <div id = "weather"></div>
            </div>
        </section>

        <section class="holder photo" >
            <div class = "title">Vacation Photo</div>
            <div id = "photo" ></div>
        </section>

        <footer class="footer holder">powered by YourDreamVacation</footer>

    </div>

</body>

</html>