<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <title>Dream Vacation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    </head>

<body>

    <div id="app">

        <header class ="holder headline">Vacation Dreams</header>

        <section class="input">
            <div class ="holder">
                <label for="city" class = labels>Destination City</label>
                <input type="text" class = "input" placeholder="Enter City Name">
                <label for="startdate" class = labels>Start Date</label>
                <input type="date" class = "input">
                <label for="enddate" class = labels >End Date</label>
                <input type="date" class = "input">
                <button id="generate" type = "submit"> Log My Vacation </button>
            </div>
        </section>

        <section class ="holder entry">
            <div class = "title">Vacation Details</div>
            <div id = "entryHolder">
                <div id = "location"></div>
                <div id = "dates"></div>
                <div id = "weather"></div>
            </div>
            <div id = "photo"></div>
        </section>

        <footer class="footer holder">powered by YourDreamVacations</footer>

    </div>

</body>

</html>